[submodule "bundle/comments.vim"]
	path = bundle/comments.vim
	url = https://github.com/vim-scripts/comments.vim
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule "bundle/vim-syntax-apache"]
	path = bundle/vim-syntax-apache
	url = https://github.com/apeschel/vim-syntax-apache
